<!-- Home page -->
<section id="hero">
    <img src="./images/home.png" alt="home" />
    <p>We know who you are, we will contact you</p>
  </section>

  <!-- Dashboard page -->
  <h3 class="heading">Market</h3>
  <section id="dashboard">
    <!-- Display a div with information about every post (if any)-->
    <div class="item">
      <img src="./images/tablet.png" alt="example1" />
      <h3 class="model">Synoptic Eye Tablet</h3>
      <div class="item-info">
        <p class="price">Price: €1000</p>
        <p class="availability">
          Premium retailers, exclusive online stores
        </p>
        <p class="type">Type: Premium Tech</p>
      </div>
      <a class="details-btn" href="#">Uncover More</a>
    </div>
    <div class="item">
      <img src="./images/controller.png" alt="example1" />
      <h3 class="model">Neural Impulse Controller</h3>
      <div class="item-info">
        <p class="price">Price: €799</p>
        <p class="availability">Underground black markets</p>
        <p class="type">Type: Experimental</p>
      </div>
      <a class="details-btn" href="#">Uncover More</a>
    </div>
    <div class="item">
      <img src="./images/drone.png" alt="example1" />
      <h3 class="model">Sky Seeker Drone</h3>
      <div class="item-info">
        <p class="price">Price: €1200</p>
        <p class="availability">Mass-Market Retail, Online Marketplace</p>
        <p class="type">Type: Advanced Surveillance</p>
      </div>
      <a class="details-btn" href="#">Uncover More</a>
    </div>
  </section>
  <!-- Display an h2 if there are no posts -->
  <h3 class="empty">No Items Yet</h3>

  <!-- Register Page (Only for Guest users) -->
  <section id="register">
    <div class="form">
      <h2>Register</h2>
      <form class="register-form">
        <input
          type="text"
          name="email"
          id="register-email"
          placeholder="email"
        />
        <input
          type="password"
          name="password"
          id="register-password"
          placeholder="password"
        />
        <input
          type="password"
          name="re-password"
          id="repeat-password"
          placeholder="repeat password"
        />
        <button type="submit">register</button>
        <p class="message">Already registered? <a href="#">Login</a></p>
      </form>
    </div>
  </section>

  <!-- Login Page (Only for Guest users) -->
  <section id="login">
    <div class="form">
      <h2>Login</h2>
      <form class="login-form">
        <input type="text" name="email" id="email" placeholder="email" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
        />
        <button type="submit">login</button>
        <p class="message">
          Not registered? <a href="#">Create an account</a>
        </p>
      </form>
    </div>
  </section>

  <!-- Create Page (Only for logged-in users) -->
  <section id="create">
    <div class="form form-item">
      <h2>Share Your item</h2>
      <form class="create-form">
        <input type="text" name="item" id="item" placeholder="Item" />
        <input
          type="text"
          name="imageUrl"
          id="item-image"
          placeholder="Your item Image URL"
        />
        <input
          type="text"
          name="price"
          id="price"
          placeholder="Price in Euro"
        />
        <input
          type="text"
          name="availability"
          id="availability"
          placeholder="Availability Information"
        />
        <input
          type="text"
          name="type"
          id="type"
          placeholder="Item Type"
        />
        <textarea
          id="description"
          name="description"
          placeholder="More About The Item"
          rows="10"
          cols="50"
        ></textarea>
        <button type="submit">Add</button>
      </form>
    </div>
  </section>
  <!-- Edit Page (Only for logged-in users) -->
  <section id="edit">
    <div class="form form-item">
      <h2>Edit Your Item</h2>
      <form class="edit-form">
        <input type="text" name="item" id="item" placeholder="Item" />
        <input
          type="text"
          name="imageUrl"
          id="item-image"
          placeholder="Your item Image URL"
        />
        <input
          type="text"
          name="price"
          id="price"
          placeholder="Price in Euro"
        />
        <input
          type="text"
          name="availability"
          id="availability"
          placeholder="Availability Information"
        />
        <input
          type="text"
          name="type"
          id="type"
          placeholder="Item Type"
        />
        <textarea
          id="description"
          name="description"
          placeholder="More About The Item"
          rows="10"
          cols="50"
        ></textarea>
        <button type="submit">Edit</button>
      </form>
    </div>
  </section>
  <!-- Details page -->

  <section id="details">
    <div id="details-wrapper">
      <div>
        <img id="details-img" src="./images/drone.png" alt="example1" />
        <p id="details-title">Drone</p>
      </div>
      <div id="info-wrapper">
        <div id="details-description">
          <p class="details-price">Price: €1200</p>
          <p class="details-availability">
            Mass-Market Retail, Online Marketplace
          </p>
          <p class="type">Type: Advanced Surveillance</p>
          <p id="item-description">
            The Sky Seeker is an invaluable tool for exploration and
            surveillance. Its compact size and maneuverability make it
            ideal for navigating tight spaces and gathering data, while
            its high-resolution cameras provide clear images even in
            low-light conditions. With the Sky Seeker, you can stay ahead
            of the curve in the ever-changing world of cyberpunk.
          </p>
        </div>
        <!--Edit and Delete are only for creator-->
        <div id="action-buttons">
          <a href="" id="edit-btn">Edit</a>
          <a href="" id="delete-btn">Delete</a>
        </div>
      </div>
    </div>
  </section>